
form {
    align-items: center;
    padding: 40px;
    padding-top: 0;
    background-color: #FFF;
    border-radius: 8px;
}

form h2 {
    font: 800 32px 'Vinque';
}

.bg-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    gap: 25px;
}

.bg-form input,
.bg-form select, 
.bg-form textarea {
    font: 400 18px 'Inter-Regular';
    color: var(--main-color-dark);
    border: 2px solid var(--main-color-dark);
}

form input,
form select,
form textarea,
form option {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

form button {  
    border-radius: 8px;
    padding: 10px 20px;
    font: 400 18px 'Inter-Bold';
    color: var(--main-color-lite);
    background-color: var(--main-color-dark);
}

form input:focus-visible,
form input:focus,
form select:focus-visible,
form select:focus,
form textarea:focus-visible,
form textarea:focus {
    outline: none;
}

.error-message {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(255, 96, 96);
    color: rgb(255, 255, 255);
}