
form {
    align-items: center;
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;
}

form h2 {
    font: 800 32px 'Vinque';
}

.bg-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    gap: 20px;
}

.form-btn {
    padding: 15px 30px;
}

.bg-form input,
.bg-form select, 
.bg-form textarea,
.bg-form button {
    font: 400 18px 'Inter-Regular';
    color: var(--main-color-dark);
}

form input,
form select,
form textarea,
form option {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

form button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: var(--main-color-lite);
}

form input:focus-visible,
form input:focus,
form select:focus-visible,
form select:focus,
form textarea:focus-visible,
form textarea:focus {
    border: none;
    outline: none;
}