.dropMenu {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.dropMenu-item {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 22px;
    font-family: Vinque;
    color: var(--main-color-dark);
    padding: 10px 30px 10px 30px;
    border-top: 3px solid var(--main-color-dark);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--accent-color);
    transition: padding-top .2s ease-in;
}

.dropMenu-item:hover {
    padding-top: 50px;
}