
footer {
  height: 80px;
  background-color: var(--main-color-dark);
}

p, 
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  position: relative;
  margin-bottom: 80px;
  padding: 20px 0;
  border: 3px solid var(--main-color-dark); 
  border-left: none;
  border-right: none;
  background-color: var(--main-color-lite);
}

.header-items {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--main-color-dark);
  font: 400 18px Vinque;
/*   text-decoration: underline; */
}

.logo {
    width: 70px;
    height: 70px;
}

.bg-library-block {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  padding-bottom: 100px;
}

.operation-btns {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-bottom: 80px;
}

