.gameInfoCard {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.gameInfoCard img {
    max-width: 390px;
    
    border-radius: 8px; 
}

.gameInfo {
    position: relative;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid var(--card-border-color);
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
}

.gameInfo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.gameInfo h2 {
    font-size: 32px;
    font-family: Inter;
}

.gameInfo .line {
    width: 400px;
    height: 2px;
    background-color: var(--card-border-color);
}

.gameInfo span {
    width: max-content;
    font-size: 20px;
    font-family: Inter;
}

.gameInfo-params {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.gameInfo .colored {
    position: absolute;
    top: 97px;
    left: -15px;
    align-items: start;
    gap: 5px;
}

.gameInfo .colored span {
    padding: 5px 15px 5px 45px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #C4ABFF;
}

.gameInfo .colored span:nth-child(2) {
    background-color: var(--main-color-lite);
}

.gameInfo p {
    text-indent: 30px;
    font-size: 18px;
    padding: 15px;
    border: 2px solid var(--card-border-color);
    border-radius: 8px;
}