.bg-preview-card,
.bg-card {
    cursor: pointer;
}

.bg-img {
    max-height: 200px;
    border: 2px solid #000;
} 


.bg-preview-card {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    border-radius: 8px;
    background-color: #fff;
}

.bg-preview-img {
    width: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

.bg-preview-descr {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.bg-preview-info {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    font: 400 24px SonyEricssonLogo;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bg-preview-name {
    width: 100%;
    padding: 5px 0px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.bg-preview-info-genres{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bg-preview-info-time {
    display: flex;
    padding: 5px;
    font: 400 26px SonyEricssonLogo;
    align-items: center;
}

.bg-preview-info-time img {
    width: 25px;
}