.modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
}

.modalWindow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.modalClose {
    position: absolute;
    top: 8%;
    color: #FFF;
    background-color: var(--accent-color);
    border-radius: 8px;
    padding: 10px;
}
