.modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
}

.modalWindow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.modalWindow-block {
    background-color: #fff;
    border-radius: 8px;
}

.modalWindow-close {
    width: max-content;
    display: flex;
    padding: 0;
    gap: 0;
    margin: 30px;
    justify-self: end;
    box-shadow: none;
}   