@font-face {
  font-family: "Inter-Regular";
  src: local("Inter Regular"),
  url("/public/fonts/Inter-Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter Bold"),
  url("/public/fonts/Inter-Bold.otf") format("otf");
  font-weight: 800;
}

@font-face {
  font-family: "Vinque";
  src: local("Vinque"),
  url("/public/fonts/VinqueRG.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "CrimsonBold";
  src: local("Crimson Text Bold"),
  url("/public/fonts/CrimsonText-Bold.ttf") format("ttf");
  font-weight: bold;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color-lite: #d6e4fd;
  --main-color-dark: #404465;
  --accent-color: #FFB938;
  --accent-color-lite: #FFC65D;
  --card-border-color: #B3B3B3;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: #FFF;
  max-width: max-content;
}

footer {
  margin-top: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
}
