.iconBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 5px 12px;
    color: #404465;
    font-size: 20px;
    font-weight: bold;
    background-color: #C4DAFF;
    border: 3px solid #404465;
    border-radius: 8px;
}

.iconBtn p {
    margin-bottom: 4px;
}

.iconBtn:hover {
    background-color: #d5e4ff;
}

.iconBtn:nth-child(2) {
    background-color: #FFD27D;
}

.iconBtn:nth-child(2):hover {
    background-color: #fee0a8;
}