.iconBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 5px 12px 1px 12px;
    color: var(--main-color-dark);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--main-color-lite);
    border: 3px solid var(--main-color-dark);
    border-radius: 8px;
}

.iconBtn p {
    font-family: Inter;
    margin-bottom: 4px;
}

.iconBtn:hover {
    background-color: var(--main-color-lite);
    filter: brightness(1.08);
}

.iconBtn:nth-child(2) {
    background-color: var(--accent-color-lite);
}

.iconBtn:nth-child(2):hover {
    background-color: var(--accent-color-lite);
    filter: brightness(1.08);
}