.iconBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px 3px 15px;
    color: var(--main-color-dark);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s ease;
}

.iconBtn p {
    font-family: Inter;
    margin-bottom: 4px;
}

.iconBtn:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}

.iconBtn:nth-child(2) {
    background-color: var(--main-color-lite);
}
