.iconBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px 3px 15px;
    color: var(--main-color-dark);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}

.iconBtn img {
    max-width: 35px;
}

.iconBtn p {
    font-family: Inter;
    margin-bottom: 4px;
}

.iconBtn:nth-child(2) {
    background-color: var(--main-color-lite);
}